{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $profile = "work" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $profile = "personal" -}}
{{- end -}}

{{- $workspaceDir := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $workspaceDir = joinPath .chezmoi.homeDir "workspace" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $workspaceDir = "/data/workspace" -}}
{{- end -}}

{{- $ageKeyPub := index (bitwardenFields "item" "chezmoi") "age-key-pub" | dig "value" "" -}}

sourceDir = {{ joinPath .chezmoi.homeDir "workspace" "chezmoi" | quote }}

encryption = "age"

[age]
  identity  = {{ joinPath .chezmoi.homeDir ".config" "chezmoi" "key.txt" | quote }}
  recipient = {{ $ageKeyPub | quote }}

[bitwarden]
  unlock = "auto"

[scriptEnv]
  {{- if eq .chezmoi.os "darwin" }}
  PATH = "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  {{- else if eq .chezmoi.os "linux" }}
  PATH = "/usr/local/bin:/usr/bin:/bin"
  {{- end }}

[data]
  profile      = {{ $profile | quote }}
  workspaceDir = {{ $workspaceDir | quote }}
  email        = {{ $email | quote }}
  {{- if eq $profile "personal" }}
  sshKeys      = ["laptop-personal-ssh-key", "github-ssh-key"]
  {{- else if eq $profile "work" }}
  sshKeys      = ["laptop-work-ssh-key", "github-ssh-key"]
  {{- end }}
  {{- if eq .chezmoi.os "darwin" }}
  homebrewPrefix = "/opt/homebrew"
  {{- end }}
