{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $profile = "work" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $profile = "personal" -}}
{{- end -}}

{{- $workspaceDir := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $workspaceDir = joinPath .chezmoi.homeDir "workspace" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $workspaceDir = "/data/workspace" -}}
{{- end -}}

{{- $ageKeyPubFile := joinPath .chezmoi.homeDir ".config" "chezmoi" "key.txt.pub" -}}
{{- $ageKeyPub := "" -}}
{{- if stat $ageKeyPubFile -}}
{{-   $ageKeyPub = output "cat" $ageKeyPubFile | trim -}}
{{- else -}}
{{-   $ageKeyPub = index (bitwardenFields "item" "chezmoi") "age-key-pub" | dig "value" "" -}}
{{- end -}}

{{- $gpgItemId := (bitwarden "item" "gpg-keys").id -}}

sourceDir = {{ joinPath .chezmoi.homeDir "workspace" "chezmoi" | quote }}

encryption = "age"

[age]
  identity   = {{ joinPath .chezmoi.homeDir ".config" "chezmoi" "key.txt" | quote }}
  {{- if $ageKeyPub }}
  recipients = [{{ $ageKeyPub | quote }}]
  {{- end }}

[bitwarden]
  unlock = "auto"

[scriptEnv]
  {{- if eq .chezmoi.os "darwin" }}
  PATH = "/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
  {{- else if eq .chezmoi.os "linux" }}
  PATH = "/usr/local/bin:/usr/bin:/bin"
  {{- end }}
  GPG_KEY_PRIV    = {{ bitwardenAttachment (printf "%s.priv.asc" $email) $gpgItemId | b64enc | quote }}
  GPG_KEY_PUB     = {{ bitwardenAttachment (printf "%s.pub.asc" $email) $gpgItemId | b64enc | quote }}
  GPG_KEY_SUB     = {{ bitwardenAttachment (printf "%s.sub_priv.asc" $email) $gpgItemId | b64enc | quote }}

[data]
  profile      = {{ $profile | quote }}
  workspaceDir = {{ $workspaceDir | quote }}
  email        = {{ $email | quote }}
  {{- if eq $profile "personal" }}
  sshKeys      = ["laptop-personal-ssh-key", "github-ssh-key"]
  {{- else if eq $profile "work" }}
  sshKeys      = ["laptop-work-ssh-key", "github-ssh-key"]
  {{- end }}
  {{- if eq .chezmoi.os "darwin" }}
  homebrewPrefix = "/opt/homebrew"
  {{- end }}
